header {
  text-align: center;
  padding: 0px 2rem;
}
.logoScreen {
  width: 280px;
}
.navHome{
  display: flex;
  justify-content: end;
}
.nav {
  border-bottom: 1px solid #151515;
  border-top: 1px solid #151515;
  justify-content: center;
}
.navMain {
  text-decoration: none;
  color: white;
  border: 1px solid #151515;
  padding: 1rem;
}
.linkLogin {
  display: flex;
  text-decoration: none !important;
  color: white !important;
  cursor: pointer;
}
a:hover {
  color: #4a4a4a !important;
}
a:visited {
  color: var(--purple);
}
a:active,
a.active {
  border-bottom: 2px solid #1455a8;
}

.containerLogin {
  display: flex;
  justify-content: end;
}

.navLogin {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.containerLoading {
  text-align: center;
  margin-top: 30px;
}
.containerList {
  text-align: start;
}
